// @mixin text-ellipsis($lines) {
//   text-overflow: ellipsis;
//   overflow: hidden;
//   white-space: nowrap;
//   -webkit-line-clamp: 1;
//   @if ($lines > 1) {
//     display: -webkit-box;

//     -webkit-box-orient: vertical;
//   } @else {
//     white-space: nowrap;
//   }
// }

.ellipsis {
  position: relative;
}

.ellipsis:before {
  content: '&nbsp;';
  visibility: hidden;
}

.ellipsis div {
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
